<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
        <link rel="stylesheet" href="../style/css.css">
        <link rel="shortcut icon" href="logo.ico" type="image/x-icon" />
        <title>{{ page.title }} - {{ site.title }}</title>
    </head>
    <body>
        <div class="container">
            {% include header.html %}
            <div class="main">
                {{ content }}
                <br />
                {% include footer.html %}
            </div>       
        </div>   
    </body>
</html>